<style>
    img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    li {
        list-style-type: none;
    }


</style>


<ul>
    <li *ngFor="let user of listUsers; let i = index" >
        <div style="display: table-row">
            <div style="display: table-cell; background-color: aqua; padding: 10px;">
                <img src="{{user.avatar}}" alt="avatar" onerror="this.onerror=null;this.src='https://www.w3schools.com/howto/img_avatar.png'"/>
            </div>
            <div style="display: table-cell; background-color: gold; padding: 10px;">
                <!-- <span>index: {{i}}</span>
                <div>{{user.id}}</div> -->
                <div>{{user.first_name}}</div>
                <div>{{user.last_name}}</div>
            </div>
        </div>
    </li>
</ul>
